<div>
  <h2 id="page-heading" data-cy="PostoHeading">
    <span jhiTranslate="ecursosApp.posto.home.title">Postos</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ecursosApp.posto.home.refreshListLabel">Atualizar lista</span>
      </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-posto"
        [routerLink]="['/posto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ecursosApp.posto.home.createLabel">Criar novo Posto</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="ecursosApp.posto.home.search">Pesquisar por Posto</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'ecursosApp.posto.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (postos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ecursosApp.posto.home.notFound">Nenhum Posto encontrado</span>
    </div>
  }

  @if (postos && postos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead class="table-light">
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="postoSigla">
              <div class="d-flex">
                <span jhiTranslate="ecursosApp.posto.postoSigla">Posto Sigla</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="ecursosApp.posto.descricao">Descricao</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="orgao">
              <div class="d-flex">
                <span jhiTranslate="ecursosApp.posto.orgao">Orgao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (posto of postos; track trackId) {
            <tr data-cy="entityTable">
              <td>{{ posto.postoSigla }}</td>
              <td>{{ posto.descricao }}</td>
              <td>{{ getOrgaoName(posto.orgao) }}
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/posto', posto.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton" [title]="'entity.action.view' | translate">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/posto', posto.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton" [title]="'entity.action.edit' | translate">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(posto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton" [title]="'entity.action.delete' | translate">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
