<div>
  <h2 id="page-heading" data-cy="CursoHeading">
    <span jhiTranslate="ecursosApp.curso.home.title">Cursos</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ecursosApp.curso.home.refreshListLabel">Atualizar lista</span>
      </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-curso"
        [routerLink]="['/curso/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ecursosApp.curso.home.createLabel">Criar novo Curso</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="ecursosApp.curso.home.search">Pesquisar por Curso</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'ecursosApp.curso.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (cursos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ecursosApp.curso.home.notFound">Nenhum Curso encontrado</span>
    </div>
  }

  @if (cursos && cursos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="cursoNome">
              <div class="d-flex">
                <span jhiTranslate="ecursosApp.curso.cursoNome">Curso Nome</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="cursoSigla">
              <div class="d-flex">
                <span jhiTranslate="ecursosApp.curso.cursoSigla">Curso Sigla</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="empresa">
              <div class="d-flex">
                <span jhiTranslate="ecursosApp.curso.empresa">Empresa</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="tipo.categoria">
              <div class="d-flex">
                <span jhiTranslate="ecursosApp.curso.tipo">Tipo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (curso of cursos; track trackId) {
            <tr data-cy="entityTable">
              <td>{{ curso.cursoNome }}</td>
              <td>{{ curso.cursoSigla }}</td>
              <td>{{ curso.empresa }}</td>
              <td>
                @if (curso.tipo) {
                  <span>{{ curso.tipo.categoria }}</span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/curso', curso.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton" [title]="'entity.action.view' | translate">
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a [routerLink]="['/curso', curso.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton" [title]="'entity.action.edit' | translate">
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button type="submit" (click)="delete(curso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton" [title]="'entity.action.delete' | translate">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (cursos && cursos.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
